@font-face {
    font-family: "Aestera";
    src: url("./assets/fonts/Aestera.ttf") format("truetype");
}
.aestera{
    font-family:'Aestera'
}
.bacdkground{
    background-image:url('./bg-fix.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
}